{% extends "base.html" %}

{% load static %}

{% block title %} Items list {% endblock  %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
{% endblock  %}

{% block content %}
    {% include "header.html" %}
    
    <h2>Список товаров</h2>
    <ol>
        {% for item in items %}
            <div class='items-list'>
                <a href="{% url "item-detail" item.id %}">{{ item.name }}</a>
            </div>
        {% endfor %}
    </ol>
    
{% endblock %}
